<div class="image_about mb-3"></div>

<div class="about">
  <div class="row">
    <div class="col-lg-7 px-3 why-hypnose">
      <h3 class="mb-4">Pourquoi l’hypnose en entreprise ?</h3>
      <p>Après avoir fait ses preuves en milieu hospitalier et en thérapie, c’est aujourd’hui dans les entreprises que l’hypnose innove. Comme dans le milieu sportif, l’hypnose permet d’améliorer ses performances aussi bien créatives que de concentration.</p>
      <p>De plus, elle se montre très efficace pour améliorer le bien-être au travail, prévenant ainsi le burn out, le bore out et l’absentéisme, en offrant un moment de détente et de relaxation.</p>
      <p>Ce service sur son lieu de travail est un véritable atout afin de fidéliser ses collaborateurs et de leur offrir un cadre de travail optimal.</p>
    </div>

    <div class="col-lg-5 px-3 how-session">
      <h3 class="mb-4">Comment se déroule une séance ?</h3>
      <ul class="seances">
        <li>Détermination de l’objectif</li><br>
        <li>Mise en place du protocole hypnotique adapté</li><br>
        <li>Évaluation et satisfaction</li>
      </ul>
    </div>

    <div class="presentation-area px-3">
      <h3 class="mb-4">Qui suis-je ?</h3>
      <p>Infirmier formé à l’hypnose ericksonienne depuis des années, je pratique l’hypnose dans le cadre de mon travail pour soulager les douleurs, détendre les patients avant des examens lourds et accompagner les familles. Depuis peu, l’hypnose me permet aussi d’accompagner et soutenir les équipes soignantes souvent mise à mal par leurs conditions de travail.</p>
      <p>Je pratique aussi de façon plus classique l’hypnose à domicile et en cabinet.</p>
      <p>Fort de cette expérience, c’est maintenant dans le monde de l’entreprise que je dispense mes compétences dans le respect d’une charte déontologique précise (lien).</p>
      <p>Zen hour c’est une équipe de professionnels de santé sélectionnée dont l’efficacité a fait ses preuves en milieu hospitalier. Et qui met ses talents au service de votre entreprise.</p>
    </div>
  </div>

  <div class="text-white">Icons made by <a href="https://www.flaticon.com/authors/icongeek26" class="text-white">Icongeek26</a></div>
</div>
<hr>