<div class="description text-center">
  <h3 class="lead-text">Activez vos ressources et (r)éveillez en vous la douce puissance du lâcher prise.</h3>

  <div class="row coltop">
    <div class="col-lg-4 my-3">
      <%= image_tag("stones.svg", :class => "img_presentation") %>
      <h4 class="my-5 mx-2">Relaxation et bien être</h4>
      <p class="my-4 mx-2">Vous sentir plus détendu au quotidien (sommeil, estime de soi, confiance...). Vous détacher de phobies,  angoisses, addictions.</p>
    </div>
    <div><a href="https://www.freepik.com" title="Freepik"></a><a href="https://www.flaticon.com/" title="Flaticon"></a></div>

    <div class="col-lg-4 my-3">
      <%= image_tag("zen.svg", :class => "img_presentation") %>
      <h4 class="my-5 mx-2">Prévention Burn Out</h4>
      <p class="my-4 mx-2">Améliorez votre bien être au travail, apprennez à gérer votre stress et allez à l'essentiel.</p>
    </div>
    <div><a href="https://www.freepik.com" title="Freepik"></a><a href="https://www.flaticon.com/" title="Flaticon"></a></div>

    <div class="col-lg-4 my-3">
      <%= image_tag("idea.png", :class => "img_presentation") %>
      <h4 class="my-5 mx-2">Booster sa créativité</h4>
      <p class="my-4 mx-2">Faites de votre inconscient un partenaire, développez votre potentiel et (re)connectez vous à votre enfant intérieur.</p>
    </div>
    <div><a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market"></a><a href="https://www.flaticon.com/" title="Flaticon"></a></div>
  </div>
</div>