<div class="description text-center">
  <h3 class="lead-text">Activez vos ressources et (r)éveillez en vous la douce puissance du lâcher prise.</h3>

  <div class="row coltop">
    <div class="col-lg-4 my-5">
      <i class="far fa-smile-wink display-4"></i>
      <h4 class="my-5 mx-3">Relaxation et bien être</h4>
      <p class="my-4 mx-4">Vous sentir plus détendu au quotidien (sommeil, estime de soi, confiance...). Vous détacher de phobies,  angoisses, addictions.</p>
    </div>

    <div class="col-lg-4 my-5">
      <i class="fas fa-business-time display-4"></i>
      <h4 class="my-5 mx-3">Prévention Burn Out</h4>
      <p class="my-4 mx-4">Améliorez votre bien être au travail, apprennez à gérer votre stress et allez à l'essentiel.</p>
    </div>

    <div class="col-lg-4 my-5">
      <i class="far fa-lightbulb display-4"></i>
      <h4 class="my-5 mx-3">Booster sa créativité</h4>
      <p class="my-4 mx-4">Faites de votre inconscient un partenaire, développez votre potentiel et (re)connectez vous à votre enfant intérieur.</p>
    </div>
  </div>
</div>