<div class="jumbotron jumbotron-fluid background-image text-left">
  <div class="area-jumbotron">
    <p class="header-jumbotron">Hypnose en entreprise et à domicile</p>
    <a href=https://calendly.com/liana-enbarque/1er-rendez-vous-faisons-connaissance?month=2021-04target="_blank" class="btn btn-outline-light btn-lg mr-2">Prendre RDV</a>
    <a href=https://calendly.com/liana-enbarque/1er-rendez-vous-faisons-connaissance?month=2021-04target="_blank" class="btn btn-outline-light btn-lg mr-2">Prendre contact</a>
  </div>
</div>