<div class="jumbotron jumbotron-fluid background-image text-left">
  <div class="area-jumbotron">
    <p class="header-jumbotron">Hypnose en entreprise et à domicile</p>
    <a href=# target="_blank" class="btn btn-light btn-lg mr-2">Prendre RDV</a>
    <a href="#contact" class="btn btn-outline-light btn-lg mr-2">Prendre contact</a>
  </div>
</div>