<div class="offer-details">
  <h4>Déroulement d'une séance en groupe</h4>
  <ul>
    <li>Bla</li>
    <li>Bla</li>
    <li>Bla</li>
    <li>Bla</li>
    <li>Bla</li>
  </ul>

  <div class="cta text-left my-4">
    <a href="#contact" class="btn btn-outline-secondary px-4">Contactez-moi pour discuter de votre projet</a>
  </div>
</div>