<div class="offer-details">
  <h4>Déroulement d'une séance</h4>
  <ul>
    <li>Determination de l’obj de la seance</li>
    <li>Phase sous hypnose</li>
    <li>Temps d’échange / Fin de la consultation </li>
  </ul>

  <a href=https://calendly.com/liana-enbarque/1er-rendez-vous-faisons-connaissance?month=2021-04target="_blank" class="btn btn-outline-secondary my-4 px-4">Réserver une scéance</a>
</div>